@import "bootstrap/dist/css/bootstrap.min.css";

body {
    background: white;
}

/* Class for content divs */
.spades {
    color: black;
}

.clubs {
    color: black;
}

.hearts {
    color: red;
}

.diamonds {
    color: red;
}

.values {
    color: black;
}